@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');

body {
  background-color: #191414;
  font-family: 'Montserrat Alternates', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

h1 {
  color: #fff;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 1rem 1.5rem;
  border: 2px solid #1db954;
  background: #191414;
  border-radius: 0.25rem;
  color: #ffffff;
}

button:hover {
  cursor: pointer;
  background: rgba(29, 185, 84, 0.3);
}

.active {
  background: rgba(29, 185, 84, 0.3);
}

.chart {
  display: none;
}

.chart.active {
  display: block;
  background: transparent;
}
